/*  your css code here. If applicable */
.main-container{
	width:550px;
	height:300px;
	border:2px solid black;
	border-radius:8px;
}
#verification_heading{
	text-align:center;
}
#p-id{
	margin:15px;
	font-size:12px;
}